name: Prepare branch "test"

on:
  workflow_dispatch:
    inputs:
      reset:
        description: "Force reset from develop: (y/n)"
        required: true
        default: "y"
      branches:
        description: "Merge aditional branchs: (ENG-92 ENG-143)"
        required: false
        default: ""

jobs:
  prepare-test:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v3
      - uses: fregante/setup-git-user@v2

      - name: Checkout repository
        with:
          ref: test

      - name: Set Git identity
        run: |
          git config --global user.email "action.ci.test@github.com"
          git config --global user.name "Action CI"
          git config --global pull.rebase false

      - name: Checkout test branch
        run: git fetch origin && git checkout test && git pull

      - name: Force pull develop branch
        run: |
          if [ "${{ github.event.inputs.reset }}" == "y" ]; then
            git fetch origin develop && git reset --hard origin/develop
          fi

      - name: Pull additional branches
        run: |
          branches=(${{ github.event.inputs.branches }})

          for branch in "${branches[@]}"; do
            git pull --rebase origin $branch
          done

            uses: ad-m/github-push-action@master

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: origin/test

      # - name: Build and deploy
