name: Reset branch "test" from "develop" and merge features

on:
  workflow_dispatch:
    inputs:
      branches:
        description: "Merge aditional branchs:"
        required: true
        default: ""

jobs:
  prepare-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: test

      - name: Configurar opções do combobox
        id: select_option
        run: |
          echo "::set-output name=options::opção1 opção2 opção3"

      - name: Selecionar opção
        id: selected_option
        run: |
          echo "::set-output name=selected::$INPUT_BRANCH"

      - name: Exibir opção selecionada
        run: |
          echo "Opção selecionada: ${{ steps.selected_option.outputs.selected }}"

      - name: Set Git identity
        run: |
          git config --global user.email "action.ci.test@github.com"
          git config --global user.name "Action CI"

      - name: Checkout test branch
        run: git fetch origin && git checkout test

      - name: Force pull develop branch
        run: git fetch origin develop && git reset --hard origin/develop

      - name: Pull additional branches
        run: |
          branches=(${{ github.event.inputs.branches }})

          for branch in "${branches[@]}"; do
            git pull --rebase origin $branch
          done

      # - name: Build and deploy
