name: Reset from "develop" and merge features

on:
  workflow_dispatch:
    inputs:
      branches:
        description: "Branches adicionais"
        required: true
        default: ""

jobs:
  prepare-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: test

      - name: Checkout test branch
        run: git fetch origin && git checkout test

      - name: Force pull develop branch
        run: git fetch origin develop && git reset --hard origin/develop

      - name: Pull additional branches
        run: |
          branches=("${{ github.event.inputs.branches }}")

          for branch in "${branches[@]}"; do
            git pull origin $branch
          done

      # - name: Build and deploy
      #   run: ./deploy.sh
