name: Prepare branch "test"

on:
  workflow_dispatch:
    inputs:
      reset:
        description: "Force reset from develop: (y/n)"
        required: true
        default: "y"
      branches:
        description: "Merge aditional branchs: (ENG-92 ENG-143)"
        required: false
        default: ""

jobs:
  prepare-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: test

      - name: Set Git identity
        run: |
          git config --global user.email "action.ci.test@github.com"
          git config --global user.name "Action CI"
          git config --global pull.rebase false

      - name: Check if it's on the test branch
        run: |
          current_branch=$(git branch --show-current)
          if [[ "$current_branch" != "test" ]]; then
            echo "Action will be ignored as current branch is not 'test'"
            exit 0
          fi

      - name: Force pull develop branch
        run: |
          if [ "${{ github.event.inputs.reset }}" == "y" ]; then
            git fetch origin develop && git reset --hard origin/develop
          fi

      - name: Pull additional branches
        run: |
          branches=(${{ github.event.inputs.branches }})

          for branch in "${branches[@]}"; do
            git pull --rebase origin $branch
          done

      - name: Push remote branch test
        run: git push --set-upstream origin test

      # - name: Build and deploy
